<!-- views/partials/head.ejs -->
<head>
  <meta charset="UTF-8">
  <title>Baze Podataka</title>
  <link rel="icon" href="https://i.imgur.com/9xXcZo0.png?1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../style.css">
</head>