<header>
  <nav class="blue-grey darken-4">
    <div class="nav-wrapper col s12 grey darken-4 row">
      <i class="material-icons logo-icon left">table_chart</i>
      <a href="/gui" class="brand-logo">Baze Podataka</a>
    </div>
  </nav>
</header>